/*Ссылка на шрифты кроме основного 'https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700'*/
body
{
    width: 1200px;
    margin: 0 auto;
}

.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}

@font-face {
    font-family: "Old English Text";
    src: url(/fonts/oldenglishtextmt.woff2) format("woff2"), url(../fonts/oldenglishtextmt.ttf) format("ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Six Caps';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sixcaps/v11/6ae_4KGrU7VR7bNmaYcV_3Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  

/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/
.header
{
    margin: 35px 0 25px;
}

.header__info
{
    float: left;

    box-sizing: border-box;
    width: 200px;
    padding: 25px 10px;

    border: 1px solid;

    text-align: center;
}

.header__weather
{
    float: right;

    width: 200px;
}

.header__weather-title
{
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 1.17em;
    text-align: center;
}

.header__weather-text
{
    margin: 0;
    text-align: justify;
    font-size: 0.8em;
    line-height: 1.1em;
}

.header__title
{
    overflow: visible;
    font-family: "Old English Text", 'Temporal', Times, serif;
    font-size: 5em;
    text-align: center;
    margin: 0;
}


/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;

    border-top: 1px solid;
    border-bottom: 2px solid;
}

.sub-header__copyright
{
    display: inline-block;
    font-size: 0.6em;
    margin: 0 30px;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Основной контент––––––––––––––––*/
.content
{
    display: flex;
}

/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/
.article__title
{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Six Caps';
    font-size: 3.2em;
    font-weight: bold;
}

.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
    margin-top: 10px;
    margin-bottom: 4px;
}

.article__author
{
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px;
}

.article__continue
{
    display: block;
}

.article__image
{
    margin: 0;
    text-indent: 0;
}

.article__image.article__image_align_right
{
    float: right;

    margin: 10px 0 5px 10px;
}

.article__subtitle
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.17em;
    font-weight: bold;
    margin: 10px 0;
}

.article__content 
{
    text-indent: 2ch;
    text-align: justify;
    font-size: 0.8em;
}

.article__content p
{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/*––––––––––––––––––Блок главной фотографии–––––––––*/
.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
}

.main-photo__title
{
    margin: 0;
}

.main-photo__desc
{
    margin-bottom: 20px;
}

/*––––––––––––––––––Линия разделения––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;

    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/
.multicolumn
{
    margin-top: 10px;
}

.multicolumn__right,
.multicolumn__left
{
    display: inline-block;

    box-sizing: border-box;
    width: 49%;

    vertical-align: top;

}

.multicolumn__right
{
    padding-left: 10px;
}

.multicolumn__left
{
    padding-right: 10px;

    border-right: 1px solid #000;
}

.multicolumn .line_type_short
{
    width: 50%;
    margin: 10px auto;
}

.multicolumn .article__title
{
    margin: 10px 0 0 0;
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}

/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 200px;
    margin-top: 20px;
    padding: 0 10px;

    flex-shrink: 0;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
